.header {
  background: #141024;
  padding: 30px 0;
  text-align: center;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin: 0 auto;
}

