.footer {
  background: #141024;
  padding: 30px 0;
}

.footer_container {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  margin: 0 auto;
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_desc {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px
}